UI/Model/Service References/CategoryControllerServiceReference/CategoryController4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TodoSystem.Service.Model.Interface.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoSystem.Service.Model.Interface.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataValidationFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataValidationFault" nillable="true" type="tns:DataValidationFault" />
  <xs:complexType name="ForeignKeyConstraintFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForeignKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForeignKeyConstraintFault" nillable="true" type="tns:ForeignKeyConstraintFault" />
  <xs:complexType name="ItemNotFoundFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ItemNotFoundFault" nillable="true" type="tns:ItemNotFoundFault" />
</xs:schema>