UI/Model/Service References/CategoryControllerServiceReference/CategoryController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/CategoryController?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/CategoryController?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/CategoryController?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodoSystem.Service.Model.Interface" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Host/CategoryController?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryController_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_SelectByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByName" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_SelectByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_ChangeOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrder" />
  </wsdl:message>
  <wsdl:message name="ICategoryController_ChangeOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryController">
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/SelectAll" message="tns:ICategoryController_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/SelectAllResponse" message="tns:ICategoryController_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/SelectById" message="tns:ICategoryController_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/SelectByIdResponse" message="tns:ICategoryController_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/SelectByName" message="tns:ICategoryController_SelectByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/SelectByNameResponse" message="tns:ICategoryController_SelectByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/Create" message="tns:ICategoryController_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/CreateResponse" message="tns:ICategoryController_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/Update" message="tns:ICategoryController_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/UpdateResponse" message="tns:ICategoryController_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/Delete" message="tns:ICategoryController_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/DeleteResponse" message="tns:ICategoryController_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryController/ChangeOrder" message="tns:ICategoryController_ChangeOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryController/ChangeOrderResponse" message="tns:ICategoryController_ChangeOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryController" type="tns:ICategoryController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByName">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/SelectByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOrder">
      <soap:operation soapAction="http://tempuri.org/ICategoryController/ChangeOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryController">
    <wsdl:port name="BasicHttpBinding_ICategoryController" binding="tns:BasicHttpBinding_ICategoryController">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Host/CategoryController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>