UI/Model/Service References/TodoControllerServiceReference/TodoController2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TodoSystem.Service.Model.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoSystem.Service.Model.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Todo" nillable="true" type="tns:Todo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodo" nillable="true" type="tns:ArrayOfTodo" />
  <xs:complexType name="Todo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Todo" nillable="true" type="tns:Todo" />
</xs:schema>